<div class="container">
  <div class="mb-3">
    <span>Progress</span>
    <progressbar progressbarType="info" progressbarPercentage="65"></progressbar>
  </div>

  <span class="fs-20 mb-2">What are your interests?</span>
  <badgevalue-selection [dataInputArray]="interestsOptionList" [isSingleSelectionOnly]="false"
    (dataResponseObject)="onBadgeSelction($event, 'interests')"></badgevalue-selection>

  <br>

  <!-- Submit button -->
  <div class="form-group d-flex">
      <button [disabled]="requestInProgress" (click)="onBack()" type="button"
        class="text-button mr-2">Back</button>
      <button [disabled]="requestInProgress || !pageForm.valid" (click)="onFromSubmit()" type="submit"
        class="btn btn-primary btn-block">Next</button>
  </div>
</div>