<div class="container">

  <div class="mb-3">
    <span>Progress</span>
    <progressbar progressbarType="info" progressbarPercentage="75"></progressbar>
  </div>

  <span class="form-check-label">Do you have any financial savings?</span>
  <badgevalue-selection [dataInputArray]="financialOptionList"
    (dataResponseObject)="onBadgeSelction($event, 'financialSavings')"></badgevalue-selection>

  <br>

  <!-- Submit button -->
  <div class="form-group d-flex">
    <button [disabled]="requestInProgress" (click)="onBack()" type="button" class="text-button mr-2">Back</button>
    <button [disabled]="requestInProgress || !pageForm.valid" (click)="onFromSubmit()" type="submit"
      class="btn btn-primary">Next</button>
  </div>
</div>